$dark-color: rgb(65, 40, 7);
$light-color: #FFFFFF;
$pink-color: rgba(237, 116, 72, 0.897);
$medium-dark-color: rgba(252, 171, 71, 0.824);
$medium-light-color: rgba(179, 168, 107, 0.927);
$font-fam: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
